.service_container{
    width: 100%;
    background: #000;
   height: 100%;
}

.service{
    background-image: url(../Images/on_black_left.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: calc(100%, 100px);
    padding: 5%;
}


.set{
    width: 100%;
  display: grid ; 
   grid-template-columns: repeat(3, 1fr);
  gap: 10rem ;
}

.service_row{
    margin-top: 5rem;
}

.service_row h1{
    font-size: 264px;
    display: block;
    font-weight: 700;
    color: #000000;
    text-shadow: -1px 0 #b3b3b3, 0 1px #b3b3b3, 1px 0 #b3b3b3, 0 -1px #b3b3b3;
    line-height: 100%;
    height: 165px;
    overflow: hidden;
    margin-bottom: -10px;
    -webkit-transform: translateZ(0);
}

.service_row p{
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    font-size: 50px;
    font-weight: 800;
}

.service_row small{
    line-height: 2rem;
    font-size: 16px;
    color: #ccc;
    font-weight: 300;

}

.service_row .service_btn{
    width: 150px;
    padding: 7px ;
    margin-top: 2rem;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 18px;
    transition: 0.4s ease-in;
}



/* ========== MEDIA SCREENS(medium screen) ======= */
@media screen and (max-width:1024px){
    .service_container{
       height: 100%;
       text-align: center;
    }

    .set{
        display: block;
    }

    .service_btn{
        text-align: center;
        margin: 0 auto;

    }
}



/* ========== MEDIA SCREENS(smaller screen) ======= */
@media screen and (max-width:600px){
    .set{
        display: block;
    }
}



